/* raleway-700 - latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Raleway Bold"), local("Raleway-Bold"),
    url("../fonts/raleway-v16-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/raleway-v16-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

:root {
  --main-font: "Open Sans", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --title-dark-theme-color: #ffffff;
  --title-light-theme-color: #303030;
  --modal-btn-dark-theme-color: #ffffff;
  --modal-btn-light-theme-color: #303030;
  --text-dark-theme-color: #9da4bd;
  --text-light-theme-color: #555555;
  --accent-color: #ff6c00;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff;
  font-family: var(--main-font);
  font-size: 18px;
  color: var(--text-light-theme-color);
}

h1 {
  margin: 0;
}

img {
  display: block;
}

.address {
  font-style: normal;
}

.link {
  text-decoration: none;
  display: block;
}

.list {
  list-style: none;
}

.section {
  padding-top: 130px;
  padding-bottom: 130px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* HEADER */
.header {
  position: absolute;
  width: 100%;
  z-index: 100;
  /* top: 0;
  left: 50%;
  transform: translateX(-50%); */
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-utils {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 71px;
  animation-duration: 2000ms;
}

.navigation-list {
  display: flex;
}

.navigation-list-item:not(:last-child) {
  margin-right: 40px;
}

.header .address {
  margin-right: 40px;
}

.navigation-list-link,
.header-tel-link,
.modal-btn,
.contact-form-btn {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  /* color: #ffffff; */
}

.navigation-list-link:hover,
.navigation-list-link:focus,
.header-tel-link:hover,
.header-tel-link:focus {
  color: var(--accent-color);
}

.navigation-list-link {
  position: relative;
  padding-top: 52px;
  padding-bottom: 52px;
  color: #fff;
  transition: color 250ms linear;
}

.header-tel-link {
  text-transform: uppercase;
  color: #fff;
  transition: color 250ms linear;
}

.modal-btn,
.contact-form-btn {
  letter-spacing: 0.09em;
  text-transform: uppercase;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  background-color: transparent;
  padding-top: 12px;
  padding-right: 20px;
  padding-bottom: 12px;
  padding-left: 20px;
  cursor: pointer;
  color: var(--modal-btn-dark-theme-color);
  transition: background-color 250ms linear, color 250ms linear;
}

.modal-btn:hover,
.modal-btn:focus,
.contact-form-btn:hover,
.contact-form-btn:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}

/* HERO SECTION */
.hero {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      rgba(25, 28, 38, 0.2),
      rgba(25, 28, 38, 0.2)
    ),
    url("../images/hero/bg.jpg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 1125px auto;
  animation-duration: 2000ms;
}

.hero .container {
  display: flex;
}

.hero-slider {
  flex-grow: 1;
  padding-left: 100px;
  padding-top: 272px;
  padding-bottom: 206px;
}

.social-links-wrapper {
  position: relative;
  width: 100px;
}

.hero .social-links {
  position: absolute;
  left: 27px;
  bottom: 40px;
  transform: rotate(-90deg);
  transform-origin: left;
}

.social-links {
  display: flex;
  align-items: center;
}

.social-links::before {
  content: "";
  width: 60px;
  height: 1px;
  margin-right: 40px;
  background: #303030;
}

.social-links-item:not(:last-child) {
  margin-right: 40px;
}

.social-links-item-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--text-light-theme-color);
  transition: color 250ms linear;
}

.social-links-item-link:hover,
.social-links-item-link:focus {
  color: var(--accent-color);
}

.subtitle {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--text-dark-theme-color);
  margin-bottom: 20px;
}

.subtitle::before {
  display: block;
  content: "";
  width: 60px;
  height: 1px;
  margin-right: 20px;
  background-color: rgba(157, 164, 189, 0.6);
}

.subtitle-light-theme::before {
  background-color: #303030;
}

.hero-title {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  margin-bottom: 20px;
  color: var(--title-dark-theme-color);
}

.description {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--text-dark-theme-color);
}

/* ABOUT US */
.about-us .container {
  display: flex;
}
.about-us .subtitle {
  color: var(--text-light-theme-color);
}

.about-us-list {
  display: flex;
  margin-right: 64px;
}

.about-us-text-content {
  max-width: 474px;
}

.about-us-title,
.about-us-description {
  margin-bottom: 20px;
}

.about-us-list-item:not(:last-child) {
  margin-right: 30px;
}

.title {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: var(--title-light-theme-color);
}

.about-us .description {
  color: var(--text-light-theme-color);
}

.about-us-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: var(--text-light-theme-color);
  margin-bottom: 40px;
}

.about-us .modal-btn {
  color: var(--modal-btn-light-theme-color);
}

.about-us .modal-btn:hover {
  color: var(--modal-btn-dark-theme-color);
}

/* SERVICES */
.services {
  background-color: #111319;
  background-image: url("../images/services/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.services-list-item-name,
.services-list-item-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--text-dark-theme-color);
}

.services-list-item-underline {
  flex-grow: 1;
  height: 1px;
  background-color: rgba(157, 164, 189, 0.12);
  margin-left: 6px;
  margin-right: 6px;
}

.services-title {
  color: var(--title-dark-theme-color);
  margin-bottom: 44px;
}

.services-list-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.services-list {
  flex-basis: 50%;
  padding-top: 30px;
  padding-right: 40px;
  padding-bottom: 30px;
  padding-left: 40px;
  background-image: linear-gradient(
    180deg,
    #171a24 0%,
    rgba(23, 26, 36, 0.2) 100%
  );
}

/* 
4n-1
4 * 1 - 1 = 3
4 * 2 -1 = 7

4n-2
4 * 1 - 2 = 2
4 * 2 - 2 = 6
*/

.services-list:nth-child(4n - 1),
.services-list:nth-child(4n - 2) {
  background-image: linear-gradient(
    180deg,
    #090b13 0%,
    rgba(9, 11, 19, 0.2) 100%
  );
}

.services-list-item {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: baseline;
}

.services-list-item:not(:last-child) {
  margin-bottom: 20px;
}

.services-modal-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: var(--modal-btn-dark-theme-color);
}

/* WHY ARE WE */
.why-are-we .container {
  display: flex;
}

.why-are-we-list-wrapper {
  display: flex;
  margin-right: 130px;
}

.why-are-we-list:nth-child(even) {
  margin-top: 54px;
}

.why-are-we-list:not(:nth-child(even)) {
  margin-right: 30px;
}

.why-are-we-list-item {
  max-width: 170px;
  padding-top: 20px;
  padding-right: 21px;
  padding-bottom: 20px;
  padding-left: 21px;
  background-color: #f7f7f7;
}

.why-are-we-list-item:not(:last-child) {
  margin-bottom: 30px;
}

.why-are-we-text-content {
  max-width: 500px;
}

.why-are-we .subtitle {
  color: var(--text-light-theme-color);
}

.why-are-we-title {
  margin-bottom: 20px;
}

.why-are-we .description {
  color: var(--text-light-theme-color);
}

.why-are-we-list-item-count {
  position: relative;
  width: max-content;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;
  color: var(--title-light-theme-color);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 6px;
}

.why-are-we-list-item-desc {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: var(--title-light-theme-color);
}

.symbol-plus {
  position: absolute;
  top: 7px;
  right: -11px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.38;
  color: var(--accent-color);
}

/* OUR MASTERS */
.masters {
  background-color: #f7f7f7;
}

.masters .subtitle {
  color: var(--text-light-theme-color);
}

.masters-title {
  margin-bottom: 44px;
}

.masters-list {
  display: flex;
  justify-content: space-between;
}

.masters-list-item-name {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--title-light-theme-color);
  margin-bottom: 8px;
}

.masters-list-item-position {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 30px;

  color: var(--accent-color);
}

.masters-list-item-img {
  margin-bottom: 30px;
}

.social-list {
  display: flex;
  justify-content: space-between;
  max-width: 206px;
  margin-left: auto;
  margin-right: auto;
}

.social-list-item-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #fff;
  transition: background-color 250ms linear;
}

.social-list-item-link:hover,
.social-list-item-link:focus {
  background-color: #000;
}

.social-list-item-link-svg {
  width: 20px;
  height: 20px;
  transition: fill 250ms linear;
}

.social-list-item-link:hover .social-list-item-link-svg,
.social-list-item-link:focus .social-list-item-link-svg {
  fill: var(--accent-color);
}

/* GALLERY */
.gallery .subtitle {
  margin-bottom: 44px;
}

.gallery-list {
  display: flex;
  justify-content: space-between;
}

.gallery .subtitle {
  color: var(--title-light-theme-color);
}

/* CONTACT FORM */
.contact-wrapper {
  display: flex;
}

.contact-wrapper > section {
  flex-basis: 50%;
}

.contact-form-section {
  background-color: #191c26;
  display: flex;
  justify-content: flex-end;
  padding-right: 40px;
  /* background-color: #191c26; */
}

.contact-form-section-wrapper {
  width: 560px;
}

.contact-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact-form-field {
  position: relative;
  margin-bottom: 44px;
}

.contact-form-input,
.contact-form-message {
  font-family: var(--main-font);
  font-weight: 600;
  font-size: 11px;
  letter-spacing: 0.1em;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  color: #fff;
}

.contact-form-message::placeholder {
  text-transform: uppercase;
}

.contact-form-input:focus,
.contact-form-message:focus {
  outline: none;
  border-bottom-color: #fff;
}

.contact-form-message:focus::placeholder {
  color: #fff;
}

.contact-form-input:not(:placeholder-shown),
.contact-form-message:not(:placeholder-shown) {
  border-bottom-color: #fff;
}

.contact-form-input {
  width: 260px;
  height: 24px;
}

.contact-form-label {
  position: absolute;
  left: 0;
  top: 0;
  font-family: var(--main-font);
  font-weight: 600;
  font-size: 11px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  transition: transform 250ms linear;
}

.contact-form-input:focus + .contact-form-label,
.contact-form-input:not(:placeholder-shown) + .contact-form-label {
  transform: translateY(-30px);
  color: #fff;
}

.contact-form-message {
  width: 100%;
  height: 76px;
  resize: none;
  margin-bottom: 44px;
}

/* CONTACT */

.contact {
  padding-left: 100px;
  background-color: #191c26;
  background-image: url("../images/contact/bg.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  /* background-color: #090b13; */
}

.contact .address {
  display: flex;
  align-items: center;
}

.contact .subtitle {
  color: var(--title-dark-theme-color);
}

.contact-title {
  color: var(--title-dark-theme-color);
  margin-bottom: 40px;
}

.contact-list {
  margin-bottom: 70px;
}

.contact-list-item:not(:last-child) {
  margin-bottom: 20px;
}

.contact-list-item-link {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--text-dark-theme-color);
}

.contact-list-item-svg {
  margin-right: 16px;
}

.map-pin {
  align-self: flex-start;
  margin-top: 6px;
}

.contact-time {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--text-dark-theme-color);
}

/* FOOTER */
.footer {
  padding-top: 56px;
  padding-bottom: 56px;
}
.footer .container {
  display: flex;
  justify-content: space-between;
}

.copyright {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #9da4bd;
}

/* MODAL WINDOW */
.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.modal-form {
  position: relative;
  width: 500px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 60px;
}

.modal-form-title {
  margin-bottom: 50px;
}

.modal-form-input-wrapper {
  position: relative;
  margin-bottom: 40px;
}

.modal-form-input {
  height: 30px;
  padding-left: 46px;
}

.modal-form-input::placeholder {
  color: transparent;
  transition: color 250ms linear 250ms;
}

.modal-form-input:focus::placeholder {
  color: #000;
}

.modal-form-message {
  height: 60px;
  margin-bottom: 40px;
  resize: none;
}

.modal-form-input,
.modal-form-message {
  display: block;
  width: 100%;
  font-family: var(--main-font);
  font-weight: 600;
  font-size: 11px;
  letter-spacing: 0.1em;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
}

.modal-form-message:focus::placeholder {
  color: var(--accent-color);
}

.modal-form-input:focus,
.modal-form-message:focus,
.modal-form-input:not(:placeholder-shown),
.modal-form-message:not(:placeholder-shown) {
  outline: none;
  border-bottom-color: var(--accent-color);
}

.modal-form-label {
  position: absolute;
  top: 50%;
  left: 46px;
  transform: translateY(-50%);
  font-family: var(--main-font);
  font-weight: 600;
  font-size: 11px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  transition: transform 250ms linear;
}

.modal-form-input:focus + .modal-form-label,
.modal-form-input:not(:placeholder-shown) + .modal-form-label {
  transform: translateY(-30px);
  color: var(--accent-color);
}

.modal-form-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal-form-option-label {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.modal-form-custom-checkbox {
  display: inline-block;
  width: 16px;
  height: 16px;
  outline: 1px solid #000;
  margin-right: 10px;
}

.modal-form-option-span {
  font-size: 12px;
}

.modal-form-option-span a {
  color: #3498db;
}

.modal-form-checkbox:checked + .modal-form-custom-checkbox {
  background-color: var(--accent-color);
  border: 4px solid #fff;
}

.modal-form-btn {
  letter-spacing: 0.09em;
  text-transform: uppercase;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  background-color: transparent;
  padding-top: 12px;
  padding-right: 20px;
  padding-bottom: 12px;
  padding-left: 20px;
  cursor: pointer;
  color: var(--modal-btn-light-theme-color);
  transition: background-color 250ms linear, color 250ms linear;
}

.modal-form-btn:hover,
.modal-form-btn:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #000;
  cursor: pointer;
  transition: color 250ms linear;
}

.modal-close-btn:hover {
  color: var(--accent-color);
}
